# Required
DMARC_MAILBOX=dmarc@example.com

# GoDaddy OTE
GODADDY_OTE_KEY=
GODADDY_OTE_SECRET=

# GoDaddy Production
GODADDY_PROD_KEY=
GODADDY_PROD_SECRET=

# Optional
EXCLUDED_DOMAINS=
PARKED_DOMAINS=
SKIP_PARKED_DOMAINS=true
GODADDY_REQUEST_DELAY_MS=1100
